body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background-color: #1f1b29;
    color: aliceblue;
}

span {
    margin-left: 3px;
    margin-right: 3px;
    width: 24px;
    text-align: center;
    display: inline-block;
}

#ptndiv {
    margin-left: 0px;
    font-size: 2em;
}

h1 {
    text-align: center;
    color: lightskyblue;
}

button {
    background: none;
    margin-left: 20px;
    margin-bottom: 30px;
    color: #ffa260;
    border: 2px solid;
    padding: 0.5em 2em;
    font-size: 1.25em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

#str,
#pat {
    background-color: #5e537a;
    border: none;
    color: #1f1b29;
    font-size: 1.25em;
    height: 1.75em;
    margin-left: 5px;
}

div {
    margin-left: 20px;
    margin-bottom: 10px;
}

#div2 {
    margin-bottom: 30px;
}

label {
    font-size: 1.25em;
}

#strdiv,
#index {
    font-size: 2em;
}

#res {
    font-size: 1.25em;
}

p {
    margin-left: 20px;
    font-size: 1.25em;
}